.Searchfields {
	display: flex;
	flex-direction: column;
  height: 30.22%;
  box-shadow:inset 0 -15px 5px -16px #111;
}
.top_navbar {
  font-size: 15pt;
  display: flex;
  flex-direction: row;
  height: 15%;
  background-color: #4caf50f5;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  color: aliceblue;
  border-radius: 10px;
  font-weight: 600;
}

input {
  width: 8rem;
  border-radius: 5px;
}
.signup {
  padding-right: 1rem;
  border-right: 1px solid black;
}
.signin {
  padding-left: 1rem;
  padding-right: 1rem;
}

.parameters {
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  color: ghostwhite;
  font-size: 17pt;
  font-weight: 400;
}
.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}