*{
	/* margin:auto; */
}
.componentWrapper .kek {
	margin: auto;
  width: 25rem;
  height: 48rem;
  margin-top: 5rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #5cff3b;
  background-image: linear-gradient(147deg, #5cff3b 0%, #25a6ff 69%);
;
}
